<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>DIAOS Transaction</title>

    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="/vendor/ico/assets/css/vendor.bundle.css?ver=132">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/vendor/ico/assets/css/style.css?ver=132">
    <link rel="stylesheet" href="/vendor/ico/assets/css/theme-blue.css?ver=132">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- JavaScript (include all script here) -->
    <script src="/vendor/ico/assets/js/jquery.bundle.js?ver=132"></script>
    <script src="/vendor/ico/assets/js/script.js?ver=132"></script>
    <script src="/blockchain/web3.min.js"></script>
    <script src="/blockchain/truffle-contract.js"></script>

    <style>
        .site-header .navbar-brand img {
            width: auto;
            max-width: 100%;
            max-height: 40px;
        }
    </style>

    <script>
        var userinfo = JSON.parse('<%- JSON.stringify(data) %>');
        var tokenAddress = '0x73bce4989c5476243941c6f999566d455a79bb30';
        var validedAddress = false;
        var validedAddress2 = false;
        let firstName, lastName, phone, country, coinId, userId;
        let btcWallet, ethWallet = "";

        $(document).ready(function () {
            console.log(userinfo);

            $('#ourAddress').val(tokenAddress);

            if (userinfo.ethers != undefined) {
                $('#walletAddress').html(userinfo.ethers.address);
                $('#sentEth').html(userinfo.ethers.total_coin);
                $('#boughtDaios').html(userinfo.ethers.total_daios);
                // $('#ethAmount').html(userinfo.ethers.coin);
            }

            if (userinfo.user != null) {
                firstName = userinfo.user.first_name;
                lastName = userinfo.user.last_name;
                ;
                phone = userinfo.user.phone;
                country = userinfo.user.country;
                coinId = userinfo.user.coinId;
                userId = userinfo.user._id;

                $("#firstName").val(firstName);
                $("#lastName").val(lastName);
                $("#emailtxt").val(userinfo.user.email);
                $("#phoneNo").val(phone);
                $("#country").val(country);

                let url = "/v1/coins/" + coinId;
                $.ajax({
                    method: "GET",
                    url: url
                }).done(function (success) {
                    console.log("success", success);
                    if (success.data.btc_address != "") {
                        btcWallet = success.data.btc_address;
                        $("#walletAddress").val(btcWallet);
                    }
                    if (success.data.ether_address != "") {
                        ethWallet = success.data.ether_address;
                        $("#walletAddress2").val(ethWallet);
                    }
                }).fail(function (fail) {
                    console.log("로딩 실패")
                })
            }

            // if(!checkUseableOS()) {
            //     $('#transaction-container-mobile').css('display','block');
            //     $('#transaction-container-pc').css('display','none');
            // }
            //
            // $('#amount').keyup(function() {
            //     var daiosAmount = parseInt($('#amount').val());
            //     var total = daiosAmount + (daiosAmount * 0.15);
            //     var eth = parseFloat(daiosAmount / $('.calculratedDaios').text()).toFixed(8);
            //     $('.amountEth').html(eth);
            //     $('.amountDaios').html(total);
            // });
            // if (typeof web3 !== 'undefined') {
            //     web3 = new Web3(web3.currentProvider);
            // } else {
            // const provider = new Web3(new Web3.providers.HttpProvider("https://rinkeby.infura.io/0c938ce8db2547fdbb12f73b5d500aca0c938ce8db2547fdbb12f73b5d500aca"));
            // web3= new Web3( provider );
            // }
            // $.getJSON('/blockchain/TokenCrowdsale.json', function(data) {
            //     TokenCrowdsaleArtifact = data;
            //     contracts.TokenCrowdsale = TruffleContract(TokenCrowdsaleArtifact);
            //     contracts.TokenCrowdsale.setProvider(web3.currentProvider);
            //     contracts.TokenCrowdsale.deployed().then(function (instance) {
            //         crowdsale = instance;
            //         crowdsale.rate().then(function (rate) {
            //             daiosRate = rate.c[0];
            //             $('.calculratedDaios').html(daiosRate);
            //         });
            //     });
            // });

            // $.getJSON('https://api.upbit.com/v1/candles/days?market=KRW-ETH&to='+today, function(data) {
            //     console.log(data);
            //     tradeValue = data[0].trade_price;
            //     $('.calculratedDaios').html((tradeValue / daiosValue));
            // });
        });

        function vaildAddress() {
            event.preventDefault();
            var address = $("#walletAddress2").val();
            if (!web3.isAddress(address)) {
                alert('Invaild Wallet Address. Please re-enter it.');
                validedAddress = false;
                return;
            }

            alert('Vaild Wallet Address.');
            validedAddress = true;
        }

        function validdBtcAddress() {
            let address = $("#walletAddress").val();
            console.log("address : ", address);
            $.ajax({
                method: "GET",
                url: "/v1/users/btcAddress/" + address
            }).done(function (success) {
                if (success.data) {
                    validedAddress2 = true;
                    alert('Vaild Wallet Address.');
                } else {
                    validedAddress2 = false;
                    alert('InVaild Wallet Address. Please re-enter it.');
                }
            }).fail(function (fail) {
                console.log("fail : ", fail)
            });
        }

        function modifyInfo() {
            if ($("#firstName").val() == "") {
                alert("이름을 입력해주세요.");
                return false;
            } else if ($("#lastName").val() == "") {
                alert("성을 입력해주세요.");
                return false;
            } else if ($("#phoneNo").val() == "") {
                alert("연락처를 입력해주세요.");
                return false;
            } else if ($("#country").val() == "") {
                alert("국가를 입력해주세요.");
                return false;
            }
            // if (btcWallet != $("#walletAddress").val() || ethWallet != $("#walletAddress2").val()) {
            //     console.log("1");
            //     if (validedAddress === false && validedAddress2 === false) {
            //         alert('Please check validation Wallet address.');
            //         return false;
            //     }
            // }else{
            //     console.log("2");
            //     return false;
            // }
            if (btcWallet != $("#walletAddress").val() && validedAddress2 == false) {
                console.log("3")
                alert('Please check validation Wallet address.');
                return false;
            } else if (ethWallet != $("#walletAddress2").val() && validedAddress == false) {
                console.log("4")
                alert('Please check validation Wallet address.');
                return false;
            }

            if ($("#walletAddress").val == "" && $("#walletAddress2").val() == "") {
                alert('Please enter your Wallet address.');
                return false;
            }
            let userReq = {};
            let coins = {};

            if (firstName != $("#firstName").val()) {
                userReq["first_name"] = $("#firstName").val();
            }

            if (lastName != $("#lastName").val()) {
                userReq["last_name"] = $("#lastName").val();
            }

            if (country != $("#country").val()) {
                userReq["country"] = $("#country").val()
            }

            if (phone != $("#phoneNo").val()) {
                userReq["phone"] = $("#phoneNo").val();
            }

            if (btcWallet != $("#walletAddress").val()) {
                coins["btc_address"] = $("#walletAddress").val();
                userReq["coins"] = coins;

            }

            if (ethWallet != $("#walletAddress2").val()) {
                coins["ether_address"] = $('#walletAddress2').val();
                userReq["coins"] = coins;
            }

            console.log("userReq : ", userReq);
            let url = "/v1/users/" + userId;
            $.ajax({
                method: "PUT",
                url: url,
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(userReq),
            }).done(function (success) {
                console.log("user : ", success);
                location.href = "/myPage";
            }).fail(function (fail) {
                console.log("user 실패");
            });
        }


    </script>
</head>

<body>
<!-- Header -->
<header>
    <!-- Navbar -->
    <div class="navbar navbar-expand-lg">
        <nav class="container" id="transactionnav">
            <a class="navbar-brand" href="/">
                <img class="logo logo-right" alt="logo" src="/img/symbol.png" srcset="/img/symbol2x.png 2x">
                <img class="logo logo-right" alt="logo" style="padding: 10px;" src="/img/type.png"
                     srcset="/img/type2x.png 2x">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
                        <span class="navbar-toggler-icon">
                            <span class="ti ti-align-justify"></span>
                        </span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                <ul class="navbar-nav" data-animate="fadeInDown">
                    <li class="nav-item"><a class="nav-link menu-link" href="/">DAIOS</a></li>
                    <li class="nav-item"><a class="nav-link menu-link" href="/transaction">My Token</a></li>
                    <!--<li class="nav-item"><a class="nav-link menu-link" href="/transaction">Transaction</a></li>-->
                    <!--<li class="nav-item"><a class="nav-link menu-link" href="javascript:window.open('/howtouse');">How to use MataMask</a></li>-->
                    <li class="nav-item">
                        <a class="nav-link menu-link logout" style="min-width: 100px;" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- End Navbar -->
</header>

<div class="section section-pad">
    <div id="content">
        <div class="row" id="buy-coin-container">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <section class="register-form">
                    <div class="form-title d-flex justify-content-center"><h4>MODIFY INFO</h4></div>
                    <br>
                    <!--<div class="form-group row">-->
                    <!--<div class="col-sm-12">-->
                    <!--* You have to install Metamask first. Read "How to install and use Metamask".-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="form-group row">
                        <label for="firstName" class="col-sm-3 col-form-label">First Name</label>
                        <div class="col-sm-9">
                            <input type="text" id="firstName" placeholder="길동" class="form-control input-lg"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-3 col-form-label">Last Name</label>
                        <div class="col-sm-9">
                            <input type="text" id="lastName" placeholder="홍" class="form-control input-lg"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label">E-mail</label>
                        <div class="col-sm-9">
                            <input type="hidden" id="email" value=""/>
                            <input type="email" class="form-control input-lg" id="emailtxt" placeholder="E-mail"
                                   readonly/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="PhoneNo" class="col-sm-3 col-form-label">Phone Number</label>
                        <div class="col-sm-9">
                            <input type="text" id="phoneNo" placeholder="01012345678"
                                   class="form-control input-lg"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="country" class="col-sm-3 col-form-label">Country</label>
                        <div class="col-sm-9">
                            <!--<select class="custom-select" id="country">-->
                            <!--<option selected>Select Country</option>-->
                            <!--<option value="1">One</option>-->
                            <!--<option value="2">Two</option>-->
                            <!--<option value="3">Three</option>-->
                            <!--</select>-->
                            <input type="text" id="country" placeholder="KR" class="form-control input-lg"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label">BTC Wallet</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control input-lg" id="walletAddress"
                                   placeholder="BTC Wallet Address"/>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-primary btn-sm btn-width-middle"
                                    onclick="javascript:validdBtcAddress()">Check
                            </button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label">ETH Wallet</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control input-lg" id="walletAddress2"
                                   placeholder="ETH Wallet Address"/>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-primary btn-sm btn-width-middle"
                                    onclick="javascript:vaildAddress()">Check
                            </button>
                        </div>
                    </div>
                    <br>
                    <!--<div id="container-mobile">-->
                    <!--<div class="form-group row">-->
                    <!--<label class="col-sm-3">Token Address</label>-->
                    <!--<div class="col-sm-9">-->
                    <!--<div>-->
                    <!--<input type="text" id="ourAddress" readonly style="width:90%;margin-right:10px;">-->
                    <!--<a href="javascript:copyAddress();"><i class="fas fa-copy" style="color: #ffffff;" title="copy"></i></a>-->
                    <!--</div>-->
                    <!--<div style="font-size: 11px;">-->
                    <!--* 모바일로 구매하시는 경우는 위의 주소로 직접 보내주시기 바랍니다.-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div id="container-pc">-->
                    <!--<div class="form-group row">-->
                    <!--<label class="col-sm-3 col-form-label">Amount(DAI)</label>-->
                    <!--<div class="col-sm">-->
                    <!--<input type="number" id="amount" placeholder="Amount Of Contribute" class="form-control input-lg" />-->
                    <!--</div>-->
                    <!--<div class="col-sm-3">-->
                    <!--&lt;!&ndash;<select class="custom-select" style="width: 100px;" id="tokenType">&ndash;&gt;-->
                    <!--&lt;!&ndash;<option value="ETH">ETH</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option value="BTC">BTC</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option value="EOS">EOS</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;</select>&ndash;&gt;-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group row">-->
                    <!--<label class="col-sm-3">Calculator</label>-->
                    <!--<div class="col-sm-9">-->
                    <!--<div>-->
                    <!--<span class="amountEth">0</span>ETH * <span class="calculratedDaios">0</span>DAI * 15% = <span class="amountDaios">0</span>DAI</span>-->
                    <!--</div>-->
                    <!--<div style="font-size: 11px;">-->
                    <!--<p>* DAIOS purchases at market average price when purchased.(from Upbit)</p>-->
                    <!--<p>* There may be a difference between the MACH amount expected to be purchased and the actual purchase amount.</p>-->
                    <!--<p>* The ETH quotes are updated every Tuesday at 10:00 am, and the MACH purchase amount is determined based on the relevant quotes.</p>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<div class="form-group row">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-sm-12" style="padding-left:40px;">&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="checkbox" class="custom-control-input" id="notAmerica">&ndash;&gt;-->
                    <!--&lt;!&ndash;<label class="custom-control-label" for="notAmerica">I am not US citizen.</label>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->
                    <button onclick="modifyInfo()" name="go" class="btn btn-lg btn-primary btn-block">수정</button>
                </section>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
<!-- Start Section -->
<div class="section footer-scetion footer-lungwort">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <a href="index.html" class="footer-logo"><img alt="" src="/img/combination.png"
                                                              srcset="/img/combination2x.png 2x"></a>
                <span class="copyright-text">
						Copyright &copy; 2018, DAIOS & DAIB
						<span>All trademarks and copyrights belong to DAIB Inc.</span>
					</span>
            </div>
        </div>
    </div>
</div>
<!-- End Section -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../blockchain/web3.min.js"></script>
<script src="../blockchain/truffle-contract.js"></script>

</body>
</html>
