<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>DIAOS Transaction</title>

    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="/vendor/ico/assets/css/vendor.bundle.css?ver=132">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/vendor/ico/assets/css/style.css?ver=132">
    <link rel="stylesheet" href="/vendor/ico/assets/css/theme-blue.css?ver=132">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- JavaScript (include all script here) -->
    <script src="/vendor/ico/assets/js/jquery.bundle.js?ver=132"></script>
    <script src="/vendor/ico/assets/js/script.js?ver=132"></script>
    <script src="/blockchain/web3.min.js"></script>
    <script src="/blockchain/truffle-contract.js"></script>

    <style>
        .site-header .navbar-brand img {
            width: auto;
            max-width: 100%;
            max-height: 40px;
        }
    </style>

    <script>
        var TokenCrowdsaleArtifact = null;
        var contracts = {};
        var userinfo = JSON.parse('<%- JSON.stringify(data) %>');
        var tradeValue = 0;
        var daiosValue = 0.1;
        var tmpday = new Date();
        var daiosRate = 0;
        var today = tmpday.getFullYear() + '-' + (tmpday.getMonth() + 1 < 10 ? '0' + (tmpday.getMonth() + 1) : tmpday.getMonth() + 1) + '-' + tmpday.getDate() + '%2000:00:00';
        var tokenAddress = '0x73bce4989c5476243941c6f999566d455a79bb30  수정필요';
        var coinId;
        var coinType="";
        var address;
        var btcAddress;
        var etherAddress;
        var calculateAmount;

        $(document).ready(function () {
            console.log("userInfo",userinfo);
            if(userinfo.user.coinId!=null){
                coinId=userinfo.user.coinId;
            }
            $('#ourAddress').val(tokenAddress);

            if (userinfo.ethers != undefined) {
                $('#walletAddress').html(userinfo.ethers.address);
                $('#sentEth').html(userinfo.ethers.total_coin);
                $('#boughtDaios').html(userinfo.ethers.total_daios);
                // $('#ethAmount').html(userinfo.ethers.coin);
            }


            btcAddress="<%= btcAddress %>";
            etherAddress="<%= etherAddress %>";


                // if(!checkUseableOS()) {
            //     $('#transaction-container-mobile').css('display','block');
            //     $('#transaction-container-pc').css('display','none');
            // }

            // $('#amount').keyup(function () {
            //     var daiosAmount = parseInt($('#amount').val());
            //     var total = daiosAmount;
            //     var eth = parseFloat(daiosAmount / ($('.calculatedDaios').text() / daiosValue)).toFixed(8);
            //     $('.amountEth').html(eth);
            //     $('.amountDaios').html(total);
            // });
            if (typeof web3 !== 'undefined') {
                web3 = new Web3(web3.currentProvider);
            } else {
                const provider = new Web3(new Web3.providers.HttpProvider("https://rinkeby.infura.io/0c938ce8db2547fdbb12f73b5d500aca0c938ce8db2547fdbb12f73b5d500aca"));
                web3 = new Web3(provider);
            }
            // $.getJSON('/blockchain/TokenCrowdsale.json', function (data) {
            //     TokenCrowdsaleArtifact = data;
            //     contracts.TokenCrowdsale = TruffleContract(TokenCrowdsaleArtifact);
            //     contracts.TokenCrowdsale.setProvider(web3.currentProvider);
            //     contracts.TokenCrowdsale.deployed().then(function (instance) {
            //         crowdsale = instance;
            //         crowdsale.rate().then(function (rate) {
            //             daiosRate = rate.c[0];
            //             $('.calculatedDaios').html(daiosRate);
            //         });
            //     });
            // });


        });

        function amount() {
            var daiosAmount = parseInt($('#amount').val());
            var total = daiosAmount;
            calculateAmount = parseFloat(daiosAmount / ($('.calculatedDaios').text() / daiosValue)).toFixed(8);
            $('.amountEth').html(calculateAmount);
            $('.amountDaios').html(total);
        }

        function selectCoin() {
            let url = "/v1/coins/" + coinId;
            $.ajax({
                method:"GET",
                url:url
            }).done(function (success) {
                console.log(success);
                if(success.data!=null){
                    if($("select[name=coin] option:selected").val()=="btc"){
                        if(success.data.btc_address != ""){
                            $("#address").text(success.data.btc_address);
                            address=success.data.btc_address;
                            calculate()
                            coinType="BTC";
                        }else{
                            address="";
                            coinType="";
                            alert("지갑 주소가 없습니다.");
                            location.href = '/myPage';
                        }

                    }else if($("select[name=coin] option:selected").val()=="ether"){
                        if(success.data.ether_address != ""){
                            $("#address").text(success.data.ether_address);
                            address=success.data.ether_address;
                            calculate()
                            coinType="ETH";
                        }else{
                            address="";
                            coinType="";
                            alert("지갑 주소가 없습니다.");
                            location.href="/myPage";
                        }
                    }else {
                        address="";
                        coinType="";
                        alert("코인을 선택해주세요.");
                        $("#address").text("");

                    }
                }else if(success.data==null){
                    alert("지갑주소가 없습니다.");
                    location.href="/myPage";
                }

            }).fail(function (fail) {
                console.log("fail : ", fail)
            })
        }

        function calculate() {
            let coin;
            if ($("select[name=coin] option:selected").val() == "btc") {
                coin = "KRW-BTC";
                $(".coinType").text(" BTC");
            } else if ($("select[name=coin] option:selected").val() == "ether") {
                coin = "KRW-ETH";
                $(".coinType").text(" ETH");
            }
            console.log(coin);
            $.getJSON('https://api.upbit.com/v1/candles/minutes/1?market=' + coin, function (data) {
                console.log(data);
                tradeValue = data[0].trade_price;
                $('.calculatedDaios').html(tradeValue);
                amount();
            });
        }

        function buyCoin() {

            if($("select[name=coin] option:selected").val()=="coinNotSelected"){
                alert("코인을 선택해주세요.");
                return false;
            }else if(address==""){
                location.href="/transaction";
                return false;
            }else if($("#amount").val()==""){
                alert("수량을 입력해주세요.");
                return false;
            }else if(parseInt($("#amount").val())<20000){
                alert("최소 수량은 20000입니다.");
                return false;
            }else{

                let url = "/v1/coins/" + coinId + "/deposit/coinTypes/" + $("select[name=coin] option:selected").val();
                let coinTypeReq = {
                    "price": calculateAmount,
                    "dai": $("#amount").val(),
                    "address": address
                };
                console.log("url ; ", url);
                console.log("coinTypeReq : ", coinTypeReq);

                $.ajax({
                    method: "PUT",
                    url: url,
                    data: coinTypeReq,
                }).done(function (success) {
                    console.log(success);

                    $("#transactionStep1").css("display", "none");
                    $("#transactionStep2").css("display", "");

                    if(coinType!=""&& coinType=="BTC"){
                        $("#coinType").text(coinType);
                        $("#depositAddress").text(btcAddress);
                    }else if(coinType!=""&& coinType=="ETH"){
                        $("#coinType").text(coinType);
                        $("#depositAddress").text(etherAddress);
                    }
                    $("#depositAmount").text(calculateAmount);
                }).fail(function (fail) {
                    alert("잠시 후 다시 시도해주세요.");
                });


            }

        }

        function checkUseableBroswer() {
            var agent = navigator.userAgent.toLowerCase();
            var result = false;

            if (agent.indexOf("chrome") != -1 ||
                agent.indexOf("firefox") != -1) {
                result = true;
            }

            return result;
        }

        function checkUseableOS() {
            var agent = navigator.userAgent;
            var result = true;

            if (agent.match(/Android/i) != null ||
                agent.match(/BlackBerry/i) != null ||
                agent.match(/iPhone|iPad|iPod/i) != null ||
                agent.match(/Opera Mini/i) != null ||
                agent.match(/IEMobile/i) != null) {
                result = false;
            }

            return result;
        }

        function copyAddress() {
            var copyText = document.getElementById("ourAddress");
            copyText.select();
            document.execCommand("Copy");
            alert("copied");
        }

    </script>
</head>

<body>
<!-- Header -->
<header>
    <!-- Navbar -->
    <div class="navbar navbar-expand-lg">
        <nav class="container" id="transactionnav">
            <a class="navbar-brand" href="/">
                <img class="logo logo-right" alt="logo" src="/img/symbol.png" srcset="/img/symbol2x.png 2x">
                <img class="logo logo-right" alt="logo" style="padding: 10px;" src="/img/type.png"
                     srcset="/img/type2x.png 2x">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
                        <span class="navbar-toggler-icon">
                            <span class="ti ti-align-justify"></span>
                        </span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                <ul class="navbar-nav" data-animate="fadeInDown">
                    <li class="nav-item"><a class="nav-link menu-link" href="/">DAIOS</a></li>
                    <li class="nav-item"><a class="nav-link menu-link" href="/myPage">My page</a></li>
                    <!--<li class="nav-item"><a class="nav-link menu-link" href="/transaction">Transaction</a></li>-->
                    <!--<li class="nav-item"><a class="nav-link menu-link" href="javascript:window.open('/howtouse');">How to use MataMask</a></li>-->
                    <li class="nav-item">
                        <a class="nav-link menu-link logout" style="min-width: 100px;" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- End Navbar -->
</header>

<div class="section section-pad">
    <div id="content">
        <div class="row" id="buy-coin-container">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div role="transaction">
                    <!--<div class="container" id="transaction-container-mobile">-->
                    <!--<div class="trans-sell-status">-->
                    <!--<div class="label-title">-->
                    <!--Token Address-->
                    <!--</div>-->
                    <!--<div class="label-content">-->
                    <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                    <!--<div>-->
                    <!--<input type="text" id="ourAddress" readonly style="width:90%;margin-right:10px;">-->
                    <!--<a href="javascript:copyAddress();"><i class="fas fa-copy" style="color: #ffffff;"></i></a>-->
                    <!--</div>-->
                    <!--<div class="col-md-9" style="font-size: 11px;">-->
                    <!--* 모바일로 구매하시는 경우는 위의 주소로 직접 보내주시기 바랍니다.-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="container m-0 p-0" id="transaction-container-pc">

                        <div class="d-flex justify-content-center"><h4>BUY DAIOS</h4></div>
                        <br>
                        <div id="transactionStep1">
                            <table class="table table-borderless m-0 p-0">
                                <tbody>
                                <tr>
                                    <th>COIN Type</th>
                                    <td>
                                        <select class="form-control" id="" name="coin" onchange="selectCoin()">
                                            <option value="coinNotSelected">Select COIN</option>
                                            <option value="btc" id="btc">BTC</option>
                                            <option value="ether" id="eth">ETH</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <td id="address"></td>
                                </tr>
                                <tr>
                                    <td width="150">Amount(DAI)</td>
                                    <td><input class="form-control" type="number" id="amount" onkeyup="amount()"></td>
                                </tr>
                                <tr>
                                    <th>Calculator</th>
                                    <td><span class="amountDaios">0</span>DAI</span> / (<span
                                            class="calculatedDaios">0</span>원 / 0.1원) =<span
                                            class="amountEth">0</span><span class="coinType"></span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><span class="text-info">DAIOS 구매 시 표기되는 코인 금액은 해당시간의 종가(from Upbit)입니다.</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"><span class="text-info">1 DAIOS = 1 원</span></td>
                                </tr>
                                </tbody>
                            </table>


                            <!--<div class="trans-sell-status">-->
                            <!--<div class="label-title">-->
                            <!--My Tokens-->
                            <!--</div>-->
                            <!--<div class="label-content">-->
                            <!--<div class="row">-->
                            <!--<div class="col-md-12">-->
                            <!--Address <span id="walletAddress" style="padding-left:10px;"></span>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                            <!--<div class="col-md-5">-->
                            <!--Sent ETH <span style="padding-left:10px;"><span id="sendEth">0</span>ETH</span>-->
                            <!--</div>-->
                            <!--<div class="col-md-5">-->
                            <!--Bought DAIOS <span style="padding-left:10px;"><span id="boughtDaios">0</span>DAI</span>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="trans-sell-status">-->
                            <!--<div class="label-title">-->
                            <!--Buy DAIOS-->
                            <!--</div>-->
                            <!--<div class="label-content">-->
                            <!--<div class="form-group row">-->
                            <!--<label class="col-sm-3 col-form-label">Amount(DAI)</label>-->
                            <!--<div class="col-sm-6">-->
                            <!--<input type="number" id="amount" placeholder="Amount Of Contribute" class="form-control input-lg" required=""/>-->
                            <!--</div>-->
                            <!--<div class="col-sm-3">-->
                            <!--&lt;!&ndash;<select class="custom-select" style="width: 100px;" id="tokenType">&ndash;&gt;-->
                            <!--&lt;!&ndash;<option value="ETH">ETH</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;<option value="BTC">BTC</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;<option value="EOS">EOS</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;</select>&ndash;&gt;-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                            <!--<div class="col-md-3">-->
                            <!--Calculator-->
                            <!--</div>-->
                            <!--<div class="col-md-9">-->
                            <!--<span class="amountEth">0</span>ETH * <span class="calculatedDaios">0</span>DAI * 15% = <span class="amountDaios">0</span>DAI</span>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                            <!--<div class="col-md-3">-->
                            <!--</div>-->
                            <!--<div class="col-md-9" style="font-size: 11px;">-->
                            <!--<p>* DAIOS purchases at market average price when purchased.(from Upbit)</p>-->
                            <!--<p>* There may be a difference between the MACH amount expected to be purchased and the actual purchase amount.</p>-->
                            <!--<p>* The ETH quotes are updated every Tuesday at 10:00 am, and the MACH purchase amount is determined based on the relevant quotes.</p>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                            <!--<div class="col-md-3">보낼 주소</div>-->
                            <!--<div class="col-md-9">-->
                            <!--<input class="form-control form-control-sm" type="text" style="display:inline-block; margin-right: 5px;" placeholder="Your Wallet Address" id="address">-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="btn-align d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary btn-sm btn-width-middle" name="go"
                                        onclick="buyCoin()">구매요청
                                </button>
                            </div>

                        </div>
                        <div id="transactionStep2" style="display:none;">
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <td width="100">입금코인</td>
                                    <td width="220"><span id="coinType"></span></td>
                                </tr>
                                <tr>
                                    <td>입금량</td>
                                    <td><span id="depositAmount"></span></td>
                                </tr>
                                <tr>
                                    <td>입금주소</td>
                                    <td><span id="depositAddress"></span></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="btn-align d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary btn-sm btn-width-middle" name="go"
                                        onclick="location.href='/transaction'">확인
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
<!-- Start Section -->
<div class="section footer-scetion footer-lungwort">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <a href="index.html" class="footer-logo"><img alt="" src="/img/combination.png"
                                                              srcset="/img/combination2x.png 2x"></a>
                <span class="copyright-text">
						Copyright &copy; 2018, DAIOS & DAIB
						<span>All trademarks and copyrights belong to DAIB Inc.</span>
					</span>
            </div>
        </div>
    </div>
</div>
<!-- End Section -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../blockchain/web3.min.js"></script>
<script src="../blockchain/truffle-contract.js"></script>

</body>
</html>
