<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DAIOS buy</title>

    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="/vendor/ico/assets/css/vendor.bundle.css?ver=132">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/vendor/ico/assets/css/style.css?ver=132">
    <link rel="stylesheet" href="/vendor/ico/assets/css/theme-blue.css?ver=132">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- JavaScript (include all script here) -->
    <script src="/vendor/ico/assets/js/jquery.bundle.js?ver=132"></script>
    <script src="/vendor/ico/assets/js/script.js?ver=132"></script>
    <script src="/blockchain/web3.min.js"></script>
    <script src="/blockchain/truffle-contract.js"></script>

    <script>

        var TokenCrowdsaleArtifact = null;
        var contracts = {};
        var userinfo = JSON.parse('<%- JSON.stringify(data) %>');
        var validedAddress = false;
        var validedAddress2 = false;
        var tradeValue = 0;
        var daiosValue = 10;
        var daiosRate = 0;
        var tmpday = new Date();
        var today = tmpday.getFullYear() + '-' + (tmpday.getMonth() + 1 < 10 ? '0' + (tmpday.getMonth() + 1) : tmpday.getMonth() + 1) + '-' + tmpday.getDate() + '%2000:00:00';
        var tokenAddress = '0x73bce4989c5476243941c6f999566d455a79bb30';

        $(document).ready(function () {
            $('#amount').keyup(function () {
                var daiosAmount = parseInt($('#amount').val());
                var total = daiosAmount + (daiosAmount * 0.15);
                var eth = parseFloat(daiosAmount / $('.calculratedDaios').text()).toFixed(8);
                $('.amountEth').html(eth);
                $('.amountDaios').html(total);
            });

            $('#email').val(userinfo.user.email);
            $('#emailtxt').val(userinfo.user.email);
            $('#ourAddress').val(tokenAddress);

            // if (typeof web3 !== 'undefined') {
            //     web3 = new Web3(web3.currentProvider);
            // } else {
            // const provider = new Web3(new Web3.providers.HttpProvider("https://rinkeby.infura.io/0c938ce8db2547fdbb12f73b5d500aca0c938ce8db2547fdbb12f73b5d500aca"));
            // web3= new Web3( provider );
            // }
            // $.getJSON('/blockchain/TokenCrowdsale.json', function(data) {
            //     TokenCrowdsaleArtifact = data;
            //     contracts.TokenCrowdsale = TruffleContract(TokenCrowdsaleArtifact);
            //     contracts.TokenCrowdsale.setProvider(web3.currentProvider);
            //     contracts.TokenCrowdsale.deployed().then(function (instance) {
            //         crowdsale = instance;
            //         crowdsale.rate().then(function (rate) {
            //             daiosRate = rate.c[0];
            //             $('.calculratedDaios').html(daiosRate);
            //         });
            //     });
            // });

            // $.getJSON('https://api.upbit.com/v1/candles/days?market=KRW-ETH&to='+today, function(data) {
            //     console.log(data);
            //     tradeValue = data[0].trade_price;
            //     $('.calculratedDaios').html((tradeValue / daiosValue));
            // });

            //window.open('/howtouse');
        });

        function vaildAddress() {
            event.preventDefault();
            var address = $("#walletAddress2").val();
            if (!web3.isAddress(address)) {
                alert('Invaild Wallet Address. Please re-enter it.');
                validedAddress = false;
                return;
            }

            alert('Vaild Wallet Address.');
            validedAddress = true;
        }

        function validdBtcAddress(){
            let address=$("#walletAddress").val();
            console.log("address : ",address);
            $.ajax({
                method: "GET",
                url: "/v1/users/btcAddress/" + address
            }).done(function (success) {
                if(success.data) {
                    validedAddress2 = true;
                    alert('Vaild Wallet Address.');
                } else {
                    validedAddress2 = false;
                    alert('InVaild Wallet Address. Please re-enter it.');
                }
            }).fail(function (fail) {
                console.log("fail : ",fail)
            });
        }

        function register() {

            // if (!checkUseableBroswer()) {
            //     alert("DAIOS purchases are only available for chrome and firefox browser.");
            //     return;
            // }
            if($("#firstName").val()==""){
                alert("이름을 입력해주세요.");
                return false;
            }else if($("#lastName").val()==""){
                alert("성을 입력해주세요.");
                return false;
            }else if($("#phoneNo").val()==""){
                alert("연락처를 입력해주세요.");
                return false;
            }else if($("#country").val()==""){
                alert("국가를 입력해주세요.");
                return false;
            }

            if (validedAddress === false && validedAddress2 === false) {
                alert('Please check validation Wallet address.');
                return false;
            }

            var amount = parseInt($('#amount').val());
            if (amount < 20000) {
                alert('DAIOS can be bought minimum 20000.');
                return;
            }

            var signUpForm = {
                // "email": $("#email").val(),
                "first_name": $("#firstName").val(),
                "last_name": $("#lastName").val(),
                "phone": $("#phoneNo").val(),
                "active":true,
                "country": $("#country").val(),
                "agreements": {
                    "use": true,
                    "teenager": true,
                    "privacy": true
                },
                "coins":{
                    "btc_address":$("#walletAddress").val(),
                    "ether_address":$("#walletAddress2").val()
                }
            };

            // console.log("signUP : ",signUpForm);

            $.ajax({
                method: "PUT",
                url: "/v1/users/" + userinfo.userId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(signUpForm),
                beforeSend: function (xhr) {
                    console.log("user put start");
                    $('[name=go]').attr('disabled', true);
                }
            })
                .done(function (data) {
                    //alert('Your DAIOS purchase is complete. DAIOS payments will be made in bulk at 10 days prior to the listing date.');
                    location.href = '/transaction';
                })
                .fail(function (msg) {
                    alert("Data Save failed.");
                    $('[name=go]').attr('disabled', false);
                });

            // if(!checkUseableOS()) {
            //     $.ajax({
            //         method: "PUT",
            //         url: "/users/" + userinfo.userId,
            //         contentType: "application/json; charset=utf-8",
            //         dataType: "json",
            //         data: JSON.stringify(signUpForm),
            //         beforeSend: function (xhr) {
            //             console.log("user put start");
            //             $('[name=go]').attr('disabled', true);
            //         }
            //     })
            //     .done(function (data) {
            //         //alert('Your DAIOS purchase is complete. DAIOS payments will be made in bulk at 10 days prior to the listing date.');
            //         location.href = '/transaction';
            //     })
            //     .fail(function (msg) {
            //         alert("Data Save failed.");
            //         $('[name=go]').attr('disabled', false);
            //     });
            // } else {
            //     $('[name=go]').attr('disabled', true);
            //     $('[name=go]').text('Loading...');
            //
            //     if (web3.eth.defaultAccount === undefined) {
            //         alert('Metamask needs to login.');
            //         $('[name=go]').attr('disabled', false);
            //         $('[name=go]').text('Buy DAIOS');
            //         return;
            //     }
            //
            //     contracts.TokenCrowdsale.deployed().then(function (instance) {
            //         crowdsale = instance;
            //         return crowdsale.getTotalSupply();
            //     }).then(function (result) {
            //         console.log(result);
            //         var totalDaiosAmount = parseInt(result.c[0]);
            //         console.log("total daios amount : ", totalDaiosAmount);
            //         if (totalDaiosAmount >= 800000000) {
            //             alert('It can no longer be purchased DAIOS because of achieved a hard cap.');
            //             return;
            //         }
            //
            //         contracts.TokenCrowdsale.deployed().then(function (instance) {
            //             crowdsale = instance;
            //             var crowdsaleContractAddress = crowdsale.address;
            //             crowdsale.rate().then(function (rate) {
            //                 var rate = rate;
            //
            //                 web3.eth.sendTransaction({
            //                     from: web3.eth.coinbase,
            //                     to: crowdsaleContractAddress,
            //                     value: web3.toWei($('.amount').text() / rate, 'ether'),
            //                     gas: 150000
            //
            //                 }, function (error, result) {
            //                     if (!error) {
            //                         $.ajax({
            //                             method: "PUT",
            //                             url: "/users/" + userinfo.userId,
            //                             contentType: "application/json; charset=utf-8",
            //                             dataType: "json",
            //                             data: JSON.stringify(signUpForm),
            //                             beforeSend: function (xhr) {
            //                                 console.log("user put start");
            //                                 $('[name=go]').attr('disabled', true);
            //                                 $('[name=go]').text('Loading...');
            //                             }
            //                         })
            //                             .done(function (data) {
            //                                 //alert( "Data Saved: " + data );
            //                                 location.href = '/transaction';
            //                             })
            //                             .fail(function (msg) {
            //                                 alert("Data Save failed.");
            //                                 $('[name=go]').attr('disabled', false);
            //                                 $('[name=go]').text('Buy DAIOS');
            //                             });
            //                     } else {
            //                         console.log(error.message);
            //                         $('[name=go]').attr('disabled', false);
            //                         $('[name=go]').text('Buy DAIOS');
            //                     }
            //                 });
            //             });
            //         }).catch(function (err) {
            //             console.log("not installed");
            //             alert('It needs to be installed Metamask. Please refer to the following,');
            //             window.open('/howtouse');
            //             $('[name=go]').attr('disabled', false);
            //             $('[name=go]').text('Buy DAIOS');
            //         });
            //     }).catch(function (err) {
            //         console.log(err.message);
            //         alert('It is temporarily network access problem. Try again later.');
            //         $('[name=go]').attr('disabled', false);
            //         $('[name=go]').text('Buy DAIOS');
            //     });
            // }
        }

        function checkUseableBroswer() {
            var agent = navigator.userAgent.toLowerCase();
            var result = false;

            if (agent.indexOf("chrome") != -1 ||
                agent.indexOf("firefox") != -1) {
                result = true;
            }

            return result;
        }

        function checkUseableOS() {
            var agent = navigator.userAgent;
            var result = true;

            if (agent.match(/Android/i) != null ||
                agent.match(/BlackBerry/i) != null ||
                agent.match(/iPhone|iPad|iPod/i) != null ||
                agent.match(/Opera Mini/i) != null ||
                agent.match(/IEMobile/i) != null) {
                result = false;
            }

            return result;
        }

        function copyAddress() {
            var copyText = document.getElementById("ourAddress");
            copyText.select();
            document.execCommand("Copy");
            alert("copied");
        }
    </script>
</head>
<body>

<header>
    <!-- Navbar -->
    <div class="navbar navbar-expand-lg">
        <nav class="container" id="transactionnav">
            <a class="navbar-brand" href="/">
                <img class="logo logo-right" alt="logo" src="/img/symbol.png" srcset="/img/symbol2x.png 2x">
                <img class="logo logo-right" alt="logo" style="padding: 10px;" src="/img/type.png"
                     srcset="/img/type2x.png 2x">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
                        <span class="navbar-toggler-icon">
                            <span class="ti ti-align-justify"></span>
                        </span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                <ul class="navbar-nav" data-animate="fadeInDown">
                    <li class="nav-item"><a class="nav-link menu-link" href="/">DAIOS</a></li>
                    <!--<li class="nav-item"><a class="nav-link menu-link" href="/transaction">Transaction</a></li>-->
                    <!--<li class="nav-item"><a class="nav-link menu-link" href="javascript:window.open('/howtouse');">How to use MataMask</a></li>-->
                    <li class="nav-item">
                        <a class="nav-link menu-link logout" style="min-width: 100px;" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- End Navbar -->
</header>

<div class="section section-pad">
    <div id="content">
        <div class="row" id="pwd-container">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <section class="register-form">
                    <div class="form-title d-flex justify-content-center"><h4>JOIN DAIOS</h4></div>
                    <br>
                        <!--<div class="form-group row">-->
                        <!--<div class="col-sm-12">-->
                        <!--* You have to install Metamask first. Read "How to install and use Metamask".-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="form-group row">
                            <label for="firstName" class="col-sm-3 col-form-label">First Name</label>
                            <div class="col-sm-9">
                                <input type="text" id="firstName" placeholder="길동" class="form-control input-lg"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lastName" class="col-sm-3 col-form-label">Last Name</label>
                            <div class="col-sm-9">
                                <input type="text" id="lastName" placeholder="홍" class="form-control input-lg"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-sm-3 col-form-label">E-mail</label>
                            <div class="col-sm-9">
                                <input type="hidden" id="email" value=""/>
                                <input type="email" class="form-control input-lg" id="emailtxt" placeholder="E-mail"
                                       readonly/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="PhoneNo" class="col-sm-3 col-form-label">Phone Number</label>
                            <div class="col-sm-9">
                                <input type="text" id="phoneNo" placeholder="01012345678"
                                       class="form-control input-lg"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="country" class="col-sm-3 col-form-label">Country</label>
                            <div class="col-sm-9">
                                <!--<select class="custom-select" id="country">-->
                                <!--<option selected>Select Country</option>-->
                                <!--<option value="1">One</option>-->
                                <!--<option value="2">Two</option>-->
                                <!--<option value="3">Three</option>-->
                                <!--</select>-->
                                <input type="text" id="country" placeholder="KR" class="form-control input-lg"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-sm-3 col-form-label">BTC Wallet</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-lg" id="walletAddress"
                                       placeholder="BTC Wallet Address"/>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-primary btn-sm btn-width-middle"
                                        onclick="javascript:validdBtcAddress()">Check
                                </button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-sm-3 col-form-label">ETH Wallet</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-lg" id="walletAddress2"
                                       placeholder="ETH Wallet Address"/>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-primary btn-sm btn-width-middle"
                                        onclick="javascript:vaildAddress()">Check
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="d-flex justify-content-center">
                                <span>가입시 개인정보 이용약관에 동의하는 것으로 간주합니다.</span>
                            </div>
                        </div>
                        <br>
                        <!--<div id="container-mobile">-->
                        <!--<div class="form-group row">-->
                        <!--<label class="col-sm-3">Token Address</label>-->
                        <!--<div class="col-sm-9">-->
                        <!--<div>-->
                        <!--<input type="text" id="ourAddress" readonly style="width:90%;margin-right:10px;">-->
                        <!--<a href="javascript:copyAddress();"><i class="fas fa-copy" style="color: #ffffff;" title="copy"></i></a>-->
                        <!--</div>-->
                        <!--<div style="font-size: 11px;">-->
                        <!--* 모바일로 구매하시는 경우는 위의 주소로 직접 보내주시기 바랍니다.-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div id="container-pc">-->
                        <!--<div class="form-group row">-->
                        <!--<label class="col-sm-3 col-form-label">Amount(DAI)</label>-->
                        <!--<div class="col-sm">-->
                        <!--<input type="number" id="amount" placeholder="Amount Of Contribute" class="form-control input-lg" />-->
                        <!--</div>-->
                        <!--<div class="col-sm-3">-->
                        <!--&lt;!&ndash;<select class="custom-select" style="width: 100px;" id="tokenType">&ndash;&gt;-->
                        <!--&lt;!&ndash;<option value="ETH">ETH</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option value="BTC">BTC</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option value="EOS">EOS</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;</select>&ndash;&gt;-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group row">-->
                        <!--<label class="col-sm-3">Calculator</label>-->
                        <!--<div class="col-sm-9">-->
                        <!--<div>-->
                        <!--<span class="amountEth">0</span>ETH * <span class="calculratedDaios">0</span>DAI * 15% = <span class="amountDaios">0</span>DAI</span>-->
                        <!--</div>-->
                        <!--<div style="font-size: 11px;">-->
                        <!--<p>* DAIOS purchases at market average price when purchased.(from Upbit)</p>-->
                        <!--<p>* There may be a difference between the MACH amount expected to be purchased and the actual purchase amount.</p>-->
                        <!--<p>* The ETH quotes are updated every Tuesday at 10:00 am, and the MACH purchase amount is determined based on the relevant quotes.</p>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;<div class="form-group row">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="col-sm-12" style="padding-left:40px;">&ndash;&gt;-->
                        <!--&lt;!&ndash;<input type="checkbox" class="custom-control-input" id="notAmerica">&ndash;&gt;-->
                        <!--&lt;!&ndash;<label class="custom-control-label" for="notAmerica">I am not US citizen.</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</div>-->
                        <button type="button" onclick="register()" name="go" class="btn btn-lg btn-primary btn-block">Confirm</button>
                </section>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
<!-- Start Section -->
<div class="section footer-scetion footer-lungwort">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <a href="index.html" class="footer-logo"><img alt="" src="/img/combination.png"
                                                              srcset="/img/combination2x.png 2x"></a>
                <span class="copyright-text">
						Copyright &copy; 2018, DAIOS & DAIB
						<span>All trademarks and copyrights belong to DAIB Inc.</span>
					</span>
            </div>
        </div>
    </div>
</div>
<!-- End Section -->

</body>
</html>
