* {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@media (min-width: 320px) and (max-width:812px) {
  iframe {
    width: 100%;
    height: 315px;
  }
}

@media (min-width: 735px) and (max-width:812px) {
  .custom-title-sales {
    margin-left: 30%;
  }
}

@media (min-width: 813px) {
  .custom-title-sales {
    margin-left: 35%;
  }

  iframe {
    width: 560px;
    height: 315px;
  }
}

@media (max-width: 320px) {
  .custom-display-inline {
    margin: 0 5px 0 5px;
  }
}

@media (min-width: 321px) {
  .custom-display-inline {
    margin: 0 5px 0 5px;
  }
}

@media (min-width: 813px) and (min-width: 1024px) {
  iframe {
    margin-top: 50px;
  }
}

@media (min-width: 1025px) {
  iframe {
    margin-top: 70px;
  }
}

.token-stage-date {
  line-height: 1.4;
}

.custom-title-sales {
  margin-bottom: 18px;
}

.custom-token-font-size {
  font-size: 24px;
}

.custom-blank {
  height: 3px;
  background-color: #3e2bc5;
  margin: 0 10px 18px 10px;
}

.custom-display-inline {
  display: inline-block;
  font-weight: 600;
  font-size: 1.3em;
}

.token-details-title {
  width: 52%;
  padding-left: 20px;
}

.timeline-title li {
  color: #ffffff;
}

.team-circle-des {
  height:720px;
  border-radius: 20px;
}

.custom-font-weight {
  font-weight: 600 !important;
  color: #2cd2d7 !important;
}

.fa-linkedin-in {
  color: #ceedfb;
}

@media (max-width: 735px) {
  .custom-daios-title {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: 2.5px;
  }

  .custom-daios-ecosystem-title,
  .custom-daios-makers-platform-title,
  .custom-token-sales-title {
    font-size: 22px;
    font-weight: 800;
    line-height: 0.7;
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .custom-daios-content {
    margin-top: 13px;
    font-size: 16px !important;
    line-height: 1.65 !important;
    letter-spacing: 0.8px;
  }

  .custom-what-is-daios-content {
    margin-top: 31px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.8px;
    color: #242b38 !important;
  }

  .heading-sm-s2 {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #2cd2d7;
  }

  .custom-daios-ecosystem-content,
  .custom-daios-makers-platform-content
  {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.8px;
  }

  .custom-roadmap-title {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 0.63;
  }

  .custom-member-title {
    font-family: Poppins;
    font-size: 17px;
    font-weight: 600;
    line-height: 0.63;
  }

  .custom-support-by-title,
  .custom-get-in-touch-title {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 0.75;
  }

  .custom-get-in-touch-content {
    font-family: Poppins;
    font-size: 13px;
    line-height: 1.88;
    color: #d1ccff;
  }

  .ref-token-sales {
    text-align: right !important;
    font-size: 13px;
    line-height: 2;
    color: #ccd6ff;
  }
}

@media (min-width: 736px) {
  .custom-daios-title {
    font-family: Poppins;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: 2.5px;
  }

  .custom-daios-ecosystem-title,
  .custom-daios-makers-platform-title,
  .custom-token-sales-title {
    font-size: 43px;
    font-weight: 800;
    line-height: 0.7;
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .custom-daios-content {
    margin-top: 13px;
    font-size: 20px !important;
    line-height: 1.65 !important;
    letter-spacing: 0.8px;
  }

  .custom-what-is-daios-content {
    margin-top: 31px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.8px;
    color: #242b38 !important;
  }

  .heading-sm-s2 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #2cd2d7;
  }

  .custom-daios-ecosystem-content,
  .custom-daios-makers-platform-content
  {
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.8px;
  }

  .custom-roadmap-title {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 0.63;
  }

  .custom-member-title {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 0.63;
  }



  .custom-support-by-title,
  .custom-get-in-touch-title {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 0.75;
  }

  .custom-get-in-touch-content {
    font-family: Poppins;
    font-size: 16px;
    line-height: 1.88;
    color: #d1ccff;
  }

  .ref-token-sales {
    text-align: right !important;
    font-size: 16px;
    line-height: 2;
    color: #ccd6ff;
  }
}

.timeline-date {
  font-family: Poppins;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.timeline-title li{
  font-size: 15px;
  line-height: 1.67;
  letter-spacing: 0.6px;
}

.banner-lungwort {
  background: linear-gradient(55deg, #465aff, #9682ff);
}

.io-lungwort .custom-btn {
  border-radius: 20px;
  border: solid 2px #2cd2d7;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}

.navbar-nav > li > a {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
}

#Ecosystems,
#TokenSales{
  background: #5046ff;
}

#Makers
{
  background: #5069ff;
}

#Roadmap {
  background-image: linear-gradient(to top, #465aff, #9682ff);
}

img {
  border-radius: 0px;
}

.custom-heading-sm-s2 {
  background: transparent;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #2cd2d7 !important;
}

.token-details-list {
  border-radius: 5px;
  border-color: transparent !important;
}

.custom-token-sales-odd {
  background-color: #5069ff !important;
}

.custom-token-sales-even {
  background-color: #473cff !important;
}

.token-stage-date {
  border: none !important;
  border-color: transparent !important;
}

.custom-section-pad {
  padding-top: 93px;
  padding-bottom: 131px;
}

.custom-section-bg-alt {
  background: #3329aa;
}

.team-circle-des p {
  margin: 20px 0 18px;
  text-align: left;
  line-height: 1.7;
}

@media (min-width: 576px) {
  .col-sm-2 {
    max-width: 14.2%;
  }
}

.custom-submit-btn {
  width: 100%;
  border-radius: 5px;
  background-image: linear-gradient(86deg, #465aff, #9682ff);
  border: solid 1px #ccd6ff;
}


.footer-lungwort {
  background: #3329aa;
}


@media only screen and (max-width: 767px) {
  .io-lungwort img {
    max-width: none;
  }
}

.align-items-center {
  padding-bottom: 20px;
  padding-top: 40px;
}

.token-stage-date {
  padding: 10px 0 10px;
}

.token-stage-date div {
  /*margin: 24px 10px 24px 10px;*/
}
